*{

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Thoma, sans-serif;
    
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1%;
    background-color: aquamarine;
}

ul,li {

    list-style: none;
    font-size: 1.2rem;
    
}

a{
    text-decoration: none;
    color: green;
}
.menu{
    display: flex;
}
.menu li{
    margin-left:20px;
}
.menu li a{
    padding: 5 px;
}
body{ 
    height:100vh; 
    display:flex;
    flex-direction:column;
}
header{ min-height:50px; }
footer{ 
    min-height:50px; 
    margin-top:auto;
    background-color: aquamarine;
}
form{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.imagem{
    width: 90%;
}
section{
    text-align: center;
    padding: 0 20%;
}
h1{
    margin: 4% 0 2%;
    font-style: italic;
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
}
footer{
    text-align: center;
}
.item {
    max-width: 12vw;
    margin: 1.4% 1%;
}