body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    text-align: left;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
}

ol {
    margin-left: 20px;
}

ol[type="A"] {
    list-style-type: upper-alpha;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}